.outerPanel{ 
    position: fixed;   
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.titleFont {
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-size: 35px;
    margin-top: 3%;
    text-align: center;
    background: -webkit-linear-gradient(rgb(10, 65, 116), rgb(194, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .flexText{
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap;
    align-content: flex-end;
  }
 
  .mainContainer{
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap; 
    align-content: flex-start;
}
  .myFont{
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-weight: 500;
    background: -webkit-linear-gradient(rgb(10, 65, 116), rgb(194, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
  }

  .generalFont{
    font-style: initial;
    font-family: 'Calibri (Body)';
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(10, 65, 116), rgb(194, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title_heading{
      background: -webkit-linear-gradient(rgb(151, 172, 172), rgb(84, 126, 218));
      height: 10%;
      width: 70%;
      font-size: 20px;
      align-content: center;
      text-align: center;
      color: white;
  } 

  
  
  .leftContent{
    /* float: left; */
    width: 400px;
    text-align: center; 
    margin: 50px;
    animation: 1s ease-out 0s 1 slideInFromLeft;    
  }
  
  .rightContent{
    /* float: left; */ 
    width: 600px;
    text-align: center; 
    margin: 50px;
    margin-top: 5%;
    font-weight: 900;
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-size: 20px;
    background: -webkit-radial-gradient(rgb(28, 57, 185), rgb(201, 91, 91));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  

  .bottomContent{
    float: left;
    width: 100%;
    margin-top: 1%;
    font-weight: 900;
    font-style: initial;
    font-family: 'Footlight MT Light';
    text-align: center;
    font-size: 25px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }

  .leftContent_portfolio{
    width: 400px;
    text-align: center; 
    margin: 50px;
    margin-top: 1%;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
  }

  .middleContent_portfolio{
    width: 200px;
    text-align: center;
    margin: 50px;
    margin-top: 15%;
    animation: 1s ease-out 0s 1 slideInFromTop;
    
  }

  .rightContent_portfolio{
    width: 400px;
    text-align: center;
    margin: 50px;
    margin-top: 1%;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  .leftContent_contact{
    width: 500px;
    text-align: center;
    margin: 50px;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
  }

  .rightContent_contact{
    width: 500px;
    text-align: center;
    margin: 50px;
    /* margin-top: 5%; */
    /* margin-right: 5%; */
    font-weight: 900;
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-size: 20px;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  
  
 .chipCards_portfolio{
    width: 150px;
    height: 50px; 
    line-height: 50px; 
    cursor: pointer; 
    font-size: 15px;
    text-align: center;
    border: 5px solid rgba(88, 125, 180, 0.658); 
    border-radius: 5px;   
    background: -webkit-radial-gradient(rgb(28, 57, 185), rgb(201, 91, 91));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 
 .imageRow1{ 
  margin-top: 2%;
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap;
    align-content: flex-end;
 }
 .imageRow2{
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap;
    align-content: flex-end;
   
}

.imageRow{
  max-width: 1000px;
  text-align: center;
  margin: 50px;
}

.stackImage{
  max-width: 100px;
  margin: 30px;
}

.stackUp{
  margin-top: -15%;
} 

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > * {
  width: 100%;
}
 
 @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
    
  }