.outerPanel{ 
    position: fixed;   
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.titleFont {
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-size: 35px;
    margin-top: 3%;
    text-align: center;
    background: -webkit-linear-gradient(rgb(10, 65, 116), rgb(194, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .flexText{
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap;
    align-content: flex-end;
  }
 
  .mainContainer{
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap; 
    align-content: flex-start;
}
  .myFont{
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-weight: 500;
    background: -webkit-linear-gradient(rgb(10, 65, 116), rgb(194, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
  }

  .generalFont{
    font-style: initial;
    font-family: 'Calibri (Body)';
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(10, 65, 116), rgb(194, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title_heading{
      background: -webkit-linear-gradient(rgb(151, 172, 172), rgb(84, 126, 218));
      height: 10%;
      width: 70%;
      font-size: 20px;
      align-content: center;
      text-align: center;
      color: white;
  } 

  
  
  .leftContent{
    /* float: left; */
    width: 400px;
    text-align: center; 
    margin: 50px;
    animation: 1s ease-out 0s 1 slideInFromLeft;    
  }
  
  .rightContent{
    /* float: left; */ 
    width: 600px;
    text-align: center; 
    margin: 50px;
    margin-top: 5%;
    font-weight: 900;
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-size: 20px;
    background: -webkit-radial-gradient(rgb(28, 57, 185), rgb(201, 91, 91));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  

  .bottomContent{
    float: left;
    width: 100%;
    margin-top: 1%;
    font-weight: 900;
    font-style: initial;
    font-family: 'Footlight MT Light';
    text-align: center;
    font-size: 25px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }

  .leftContent_portfolio{
    width: 400px;
    text-align: center; 
    margin: 50px;
    margin-top: 1%;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
  }

  .middleContent_portfolio{
    width: 200px;
    text-align: center;
    margin: 50px;
    margin-top: 15%;
    animation: 1s ease-out 0s 1 slideInFromTop;
    
  }

  .rightContent_portfolio{
    width: 400px;
    text-align: center;
    margin: 50px;
    margin-top: 1%;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  .leftContent_contact{
    width: 500px;
    text-align: center;
    margin: 50px;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
  }

  .rightContent_contact{
    width: 500px;
    text-align: center;
    margin: 50px;
    /* margin-top: 5%; */
    /* margin-right: 5%; */
    font-weight: 900;
    font-style: initial;
    font-family: 'Footlight MT Light';
    font-size: 20px;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  
  
 .chipCards_portfolio{
    width: 150px;
    height: 50px; 
    line-height: 50px; 
    cursor: pointer; 
    font-size: 15px;
    text-align: center;
    border: 5px solid rgba(88, 125, 180, 0.658); 
    border-radius: 5px;   
    background: -webkit-radial-gradient(rgb(28, 57, 185), rgb(201, 91, 91));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 
 .imageRow1{ 
  margin-top: 2%;
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap;
    align-content: flex-end;
 }
 .imageRow2{
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;  
    justify-content: center;  
    flex-flow: row wrap;
    align-content: flex-end;
   
}

.scrollUpIcon{
  height: 50px;
  width: 50px;
  margin: 0 50px 20px 50px;
  cursor: pointer;
}

.scrollDownButton{
 margin-top: 2%;
 display: flex;  
 justify-content: center;  
 flex-flow: column wrap;
 align-content: flex-start;
}

.imageRow{
  max-width: 1000px;
  text-align: center;
  margin: 50px 50px 0 50px;
}

.stackImage{
  max-width: 100px;
  margin: 30px;
  border: 1px solid rgba(247, 195, 85, 0.658); 
  border-radius: 50px;  
  background-color: transparent;
  cursor: pointer;
  padding: 3px;
  box-shadow: 0 3px 3px rgba(1,67,163,.24), 0 0 8px rgba(1,67,163,.12), 0 6px 18px rgba(43,133,231,.12);
}


.shake-bottom {
	-webkit-animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 5 both;
	        animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 5 both;
}

.shake-bottom3 {
	-webkit-animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1 both;
	        animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1 both;
}

.bounce-in-top1 { 
  -webkit-animation:  bounce-in-top 1s ease-in-out;
  animation:   bounce-in-top 1s ease-in-out  ;
} 

.bounce-in-top2 { 
  -webkit-animation:  bounce-in-top 2s ease-in-out;
  animation:   bounce-in-top 2s ease-in-out  ;
} 

.bounce-in-top3 {
  -webkit-animation: bounce-in-top 3s ease-in-out ;
  animation: bounce-in-top 3s ease-in-out ;
}

.bounce-in-top4 { 
  -webkit-animation:  bounce-in-top 4s ease-in-out;
  animation:   bounce-in-top 4s ease-in-out  ;
} 

.bounce-in-top5 {
  -webkit-animation: bounce-in-top 5s ease-in-out ;
  animation: bounce-in-top 5s ease-in-out ;
}

.bounce-in-top6 { 
  -webkit-animation:  bounce-in-top 6s ease-in-out;
  animation:   bounce-in-top 6s ease-in-out  ;
} 

.bounce-in-top5 {
  -webkit-animation: bounce-in-top 5s ease-in-out ;
  animation: bounce-in-top 5s ease-in-out ;
}

.stackImage:hover{
  box-shadow: 0 80px 80px rgba(163, 113, 1, 0.15), 0 0 80px rgba(1,67,163,.12), 0 60px 180px rgba(43,133,231,.12);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  transition: all 0.3s; 
}

.stackUp{
  margin-top: -15%;
} 

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > * {
  width: 100%;
}
 
 @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
    
  }

  
  /* - */
  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  @-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  
  